# Python caches
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
env/
.venv/
.conda/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store

# IDE files
.vscode/
.idea/
